html div {
    font-family: serif;
   
  }

body {
    
       background-color: rgb(225, 225, 225);
        margin-left: 1rem;
        margin-right: 1rem;
}
h2 {
    color:darkcyan;
    font-size: 30px;
   
    
}
h1 {
    font-size: 40px;
    color:darkcyan;
}

.index{
    background-color: white;
    
    margin-top: 8rem;
    border-radius: 10px;
    width:550px;
    height:450px;
    align-content: center;
    align-self: center;
    padding-bottom: 200px;
    box-shadow: yellow;
}
.head {
    background-color: white;
    border:1px;
    margin-top: 0.5rem;
    border-radius: 25px;  
    height:100px;
    width:1000px;
     padding-bottom: 2px;
     padding-top: 20px;

}

 .nav1
 {
     background-color: rgb(60,60,60);
     padding: 1rem;
     margin-left: -1rem;
     margin-right: -1rem;
     color: white;
     
 }
 .nav2 {
     font-size: 1.5em;
     color: white;
 }

.b1 {
    
    border-radius: 10px;
    padding:10px;
    width:100px;
   

}

.b2 {
    width: 250px;
}
.b3 {
    width: 510px;
}
.b4 {
    margin-top:1em;
}
.m1 {
     border-radius: 20px;
    padding:10px;
    width:100px;
     background-image:linear-gradient(to right , cyan , lightblue);
    background-color: mediumseagreen;
}
.m2 {
    width:100px;
    height:20px;
    border-radius:10px;
}
img {
    border-radius: 25px;
}

table, td, th {  
  border: 1px solid #000000;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.fdiv {
       text-align: center;
        margin-top:14rem;
}

.foot {
    background-color: rgb(60, 60, 60);
    height: 500px;
    display:block;
    margin-left: -1rem;
    margin-right: -1rem;

    
}

